body{
	width: 70%;
	margin: 0 auto;
}

.clear{
	clear: both;
}

.err{
	padding: 20px 10px;
	border-radius: 3px;
	font-size: 16px;
}

.mainChat{
	width: 100%;
	height: 600px;
	margin-bottom: 50px;
}

.mainChat .logs{
	overflow-y: scroll;
	padding-bottom: 20px;
}

.mainChat div{
	height: 550px;
	background-color: rgba(230, 230, 150, 0.3);
	width: 100%;
	padding: 1%;
}

.us_name, .us_to, .us_from, .us_myself{
	color: tomato;
	font-weight: bold;
	font-size: 16px;
	margin-right: 5px;
	cursor: pointer;
}

.us_myself{
	color: #C2DB46;
	cursor: default;
}

.us_to{
	color: green;
}

.mainChat .nothing{
	text-align: center;
	color: gray;
	font-size: 18px;
}

.mainChat textarea{
	width: 93%;
	height: 50px;
	float: left;
	resize: none;
}

.mainChat .btn-group{
	float: left;
	width: 7%;
	height: 50px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.mainChat .btn-group .btn{
	width: 100%;
	height: 100%;
	border-radius: 0;
}

.mainChat .logs p{
	overflow: hidden;
}

.mainChat .btn-group .btn:hover{
	background-color: rgba(230, 230, 150, 0.3);
}

.tab-content div.fade{
	display: none;
}

.tab-content div.fade.in{
	display: block;
}

#time{
	margin-right: 15px;
	font-style: italic;
}

.glyphicon:hover{
	cursor: pointer;
}

#chan_lbl{
	margin-right: 10px;
}

.old_n{
	color: tomato;
}

#crt_btn{
	display: none;
	margin-left: 50px;
}

.adm_left{
	width: 85%;
	float: left;
	height: 600px;
	background-color: rgb(245, 245, 245);
	margin-top: 50px;
	margin-bottom: 50px;
}

.users{
	width: 15%;
	margin-top: 50px;
	float: left;
	height: 600px;
	background-color: rgb(238, 238, 238);
	margin-bottom: 50px;
}

.user_box{
	padding-top: 10px;
	text-align: center;
}

.user_box p a{
	color: tomato;
	font-size: 16px;
	text-decoration: none;
}

.mess_box{
	padding-left: 15px;
	padding-top: 20px;
}

.error p{
	padding-top: 150px;
	font-size: 20px;
	color: rgba(185, 127, 94, 0.7);
}
